{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Django-Test {% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
  {% block styles %}
  {% endblock %}
</head>

<body>
  {% block content %}
  {% endblock %}
  <script src="{% static 'polls/site.js' %}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>