{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Django-Test {% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
  {% block styles %}
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{% url 'polls:index' %}">Polls</a> 
    </nav>
  <div class="container">
      {% block content %}
      {% endblock %}
  </div>
  <script src="{% static 'polls/bundle.js' %}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>